html {
    height: 100%
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100%
}

.grid {
    margin: auto;
    width: 400px;
    height: 400px;
}
.row {
    display: flex;
    height: 100px;
    width: 400px;
}

.cell {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 100px;
    height: 100px;
}

.unlit {
    background-color: white;
}